body {
  background-color: #fff;
  margin-top: 80px;/*5*/
  -webkit-transition: margin-top .3s;
  transition: margin-top .3s;
}
/*导航*/
#nav .icon-crown {
  font-size: 50px;
  line-height: 65px;/*3*/
  color: #54577c;
  -webkit-transition: line-height .3s;
  transition: line-height .3s;
}
#nav .crown {
  display: inline-block;
  vertical-align: middle;
}
#nav .navbar-nav a {
  font-size: 15px;
}
#nav .navbar-collapse {
  z-index: 1;
}

[class^=banner-],[class*= banner]{
  display: block;
  width: 100%;
  height: 280px;
  background-position: center;
  background-size: cover;
}
@media (max-width:768px){
  [class^=banner-],[class*= banner]{
    height: 140px;
  }
}

/*news*/
.news-header{
  height: 60px;
  padding-left: 30px;
  box-shadow: 0 3px 10px #ccc;
  margin-bottom:30px;
}
.news-header .header{
  display: block;
  height: 100%;
  width: 150px;
  text-align: center;
  line-height: 60px;
  font-size: 23px;
  color: #54577c;
  border-bottom: 2px solid #ada4c4;
}

.news-item{
  margin-bottom: 40px;
  box-shadow: 0 0 15px #ccc;
  padding: 15px;
}
.news-item:hover{
  box-shadow: 0 0 30px #ccc;
}

.news-item .news-image img{
  width: 100%;
}
.news-item .news-info{
  padding-top: 30px;
  padding-left: 15px;
}
.news-item .news-info .news-title a{
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  color: #222;
}
.news-item .news-info .news-date{
  display: block;
  margin-bottom: 12px;
  color: #a4a4a4;
  font-size: 13px;
}
.news-item .news-info .news-details a{
  font-size: 14px;
  color: #333;
}


/*loading-more-news*/
.loading-more{
  display: block;
  width: 100%;
  height: 40px;
  box-shadow: 0 0 10px #ccc;
  text-align: center;
  line-height: 40px;
  color: #666;
  font-size: 14px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 260px;
  /*background-image: url(../images/loadingMore.gif);
  background-color: rgb(252,210,88);*/
}
.loading-more:hover{
  color: #000;
  box-shadow: 0 0 15px #ccc;
}






/*banner*/
.banner-member{
  background-image: url(../banner/member.jpg);
}
.banner-zuopin{
  background-image: url(../banner/zuopin.jpg);
}
.banner-liuyan{
  background-image: url(../banner/liuyan.jpg);
}

/*banner-title*/
.header-title{
  display: block;
  width: 100%;
  height: 80px;
  text-align: center;
  line-height: 80px;
  border-bottom: 2px solid #4a4162;
  font-size: 30px;
  color: #54577c;
  margin-bottom: 50px;
}
@media (max-width:768px){
  .header-title{
  line-height: 60px;
  height: 60px;
  }
}

/*footer*/
.footer{
  border-top: 1px solid #54577c;
  height: 50px;
  padding-top: 20px;
  margin: 50px 0 30px 0;
  background-color: #fff;
}
.footer .icon-envelop{
  color: #54577c;
  font-size: 20px;
}

/*tooltip样式*/
.tooltip.top .tooltip-arrow{
  border-top-color: #54577c;
}
.tooltip.right .tooltip-arrow{
  border-right-color: #54577c;
}
.tooltip.bottom .tooltip-arrow{
  border-bottom-color: #54577c;
}
.tooltip.left .tooltip-arrow{
  border-left-color: #54577c;
}
.tooltip .tooltip-inner{
  background-color: #fff;
  border:2px solid #54577c;
  color: #54577c;
}

/*轮播图*/
#carousel {
  z-index: 0;
  margin-bottom: 45px;
}
#carousel .slider-list .slider-item {
  height: 410px;
}
#carousel .slider-list .slider-item img {
  width: 100%;
}
@media (max-width: 768px) {
  #carousel .slider-list .slider-item {
    height: 100%;
  }
}

.slider-wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.slider-list {
  display: -webkit-box;
  width: 100%;
  height: 100%;
}

.slider-item {
  width: 100%;
  list-style: none;
}

.slider-item a {
  display: block;
}

.slider-item img {
  width: 100%;
}

.transitionable {
  -webkit-transition: all 0.3s ease-in-out;
}

.slider-page {
  width: 100%;
  position: absolute;
  bottom: 5px;
  left: 0;
  text-align: center;
}

.slider-page ul {
  display: inline-block;
  text-align: center;
}

.slider-page ul li {
  display: inline-block;
  vertical-align: top;
  width: 6px;
  height: 6px;
  margin: 0 5px;
  border-radius: 50%;
  background: rgba(255, 255, 255, .5)
}

.slider-page ul li.active {
  background: #fff
}

/*.img-wrap {
  width: 100%;
  height: 100%;
  background: #fafafa url("loadingMore.gif") no-repeat center center;
}*/