/*轮播图*/
#carousel {
  z-index: 0;
  margin-bottom: 45px;
}
#carousel .slider-list .slider-item {
  height: 410px;
}
#carousel .slider-list .slider-item img {
  width: 100%;
}
@media (max-width: 768px) {
  #carousel .slider-list .slider-item {
    height: 100%;
  }
}
.slider-wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.slider-list {
  display: -webkit-box;
  width: 100%;
  height: 100%;
}
.slider-item {
  width: 100%;
  list-style: none;
}
.slider-item a {
  display: block;
}
.slider-item img {
  width: 100%;
}
.transitionable {
  -webkit-transition: all 0.3s ease-in-out;
}
.slider-page {
  width: 100%;
  position: absolute;
  bottom: 5px;
  left: 0;
  text-align: center;
}
.slider-page ul {
  display: inline-block;
  text-align: center;
}
.slider-page ul li {
  display: inline-block;
  vertical-align: top;
  width: 6px;
  height: 6px;
  margin: 0 5px;
  border-radius: 50%;
  background: rgba(255, 255, 255, .5)
}
.slider-page ul li.active {
  background: #fff
}